header {
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 12%;
  text-align: left;
  position: static;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

header h1 {
  color: white;
  text-shadow: 2px #02010a;
}

header div {
  position: absolute;
  right: 2%;
}

body {
  background-color: #82c3a6;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

body #imagenprincipal img {
  padding-top: 1%;
  width: 80%;
}

body #imgsecizq img {
  padding-top: 1%;
  width: 80%;
}

body #imgsecder img {
  padding-top: 1%;
  width: 80%;
}

body #imgsec {
  background-color: #d5c75f;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.rotate {
  transform: rotateZ(none);
  transition: rotatez, 1s;
}

.rotate:hover {
  transform: rotateZ(10deg);
  animation: animantionShadow 1s;
  animation-fill-mode: forwards;
  border: 2px solid black;
}

.translate {
  transform: translate(0, 0);
  transition: traslate, 1s;
}

.translate:hover {
  transform: translate(20px, -5px);
  animation: animantionShadow 1s;
  animation-fill-mode: forwards;
  border: 2px solid black;
}

@-webkit-keyframes animantionShadow {
  from {
    box-shadow: 2px 2px #02010a;
  }
  to {
    box-shadow: 2px 2px #82c3a6;
  }
}

footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #C6d5c5;
  display: flex;
  flex-direction: row;
  height: 10%;
  margin-top: 5%;
}

footer div {
  margin: auto;
}

@media (max-width:900px) {
  body {
    width: 100%;
  }
  header {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
  footer {
    flex-direction: column;
  }
  header div {
    position: absolute;
    top: 13%;
    right: 33%;
    margin: auto;
  }
  body #imgsec{
    display: flex;
    flex-direction: column;
  }
}

@-webkit-keyframes slidein {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;
  }
  100% {
    margin-top: 0%;
  }
}
